.review-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin:20px;
  }
  
  .review-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 250px; /* set a fixed height */
  
  }
  
  .review-card-header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f1f3f5;
  }
  
  .review-card-title {
    margin: 0;
    font-size: 30px;
    text-align: center;
  }

  
  .review-card-body {
    padding: 20px;
    /* display: flex; */
    justify-content: center;
  }
  .review-card-body p {
    word-wrap: break-word; /* added */
  }

  @media screen and (max-width: 1500px) {
    .review-card-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 786px) {
    .review-card-container {
      grid-template-columns: 1fr;
    }
  }  